* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #2E2E2E;
    line-height: 1.6;
}
#landing-title {
    background-image: url(../img/asphalt-desert-road.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#landing-title * {
    position: relative;
    top: -15vh;
}
#landing-title h1 {
    font-size: 50px;
    line-height: 1.2;
}
#landing-title p {
    font-size: 20px;
}
#landing-title .button {
    font-size: 18px;
    text-decoration: none;
    color: #2E2E2E;
    border: #2E2E2E 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #FFFFFF25;
}
#box-singular {
    padding: 20px;
    background: #8AA0B0;
    color: #2E2E2E;
    text-align: center;
}
#box-double {
    display: flex;
    text-align: center;
}
#box-double div {
    padding: 20px;
}
#box-double div:nth-child(1) {
    background: #F2C284;
    color: #2E2E2E;
}
#box-double div:nth-child(2) {
    background: #FAFAFA;
    color: #2E2E2E;
}